*{
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, sans-serif;
    text-decoration: none;
}

.header{
    position: relative;
    height: 1.97333rem;
}

#name{
    position: absolute;
    width: 10rem;
    height: 1.97333rem;
}

#return{
    position: absolute;
    height: 0.653rem;
    margin-top: 0.9253rem;
    margin-left: 0.46667rem;
    z-index: 1;
}

.main h2{
    position: absolute;
    font-size: 0.6rem;
    margin-left: 2.75rem;
}

.select{
    position: relative;
    top:2.0133rem;
}

.select>div{
    position: relative;
    text-align: center;
}

#select2{
    display: none;
}

.option{
    display: inline-block;
    width: 2.6rem;
    border-radius: 2.6rem;
    text-align: center;
    line-height: 2.6rem;
    margin: 0.05rem
}

#electronics ,#appliance{
    border:  0.08rem solid #2194ff;
    color: #2194ff;
    font-weight: 500;
    bottom: 0em;
    font-size: 0.6rem;
}

#cosmetics ,#game{
    border: 0.08rem solid #ff6ea4;
    color: #ff6ea4;
    font-weight: 500;
    font-size: 0.7rem;
}

#car ,#book{
    border: 0.08rem solid #b65fcd;
    color: #b65fcd;
    font-weight: 500;
    font-size: 0.7rem;
}

#cloth ,#stationery{
    border: 0.08rem solid #735ed0;
    color: #735ed0;
    font-weight: 500;
    font-size: 0.7rem;
}

#food ,#musical{
    border: 0.08rem solid #ff6b56;
    color: #ff6b56;
    font-weight: 500;
    font-size: 0.7rem;
}

#watch ,#pet{
    border: 0.08rem solid #9585bd;
    color: #9585bd;
    font-weight: 500;
    font-size: 0.7rem;
}

#jewelry ,#tea{
    border: 0.08rem solid #ffa306;
    color: #ffa306;
    font-weight: 500;
    font-size: 0.7rem;
}

.change{
    position: absolute;
    width: 4.8rem;
    left: 50%;
    margin-left: -2.4rem;
    top: 13.5rem;
}

.footer{
    text-align: center;
    position: absolute;
    top: 16.23rem;
    width: 10rem;
    line-height: 1.573rem;
    background-color: #ffcad0;
    font-size: 0.7rem;
}

.footer a:link ,.footer a:visited{
    color: white;
}